<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.1/css/bootstrap.min.css"
        integrity="sha384-VCmXjywReHh4PwowAiWNagnWcLhlEJLA5buUprzK8rxFgeH0kww/aWY76TfkUoSX" crossorigin="anonymous">

    <title>Plant Identified</title>

    <style>
        * {
            margin: 0px;
            padding: 0px;
            box-sizing: border-box;
        }

        .border img {
            border-radius: 15px;
            border: 2px solid black;
        }

    </style>
</head>

<body background="{{url_for('static',filename = 'images/Back.jpg')}}">


   <br>


    <div class="container my-2">
        <div class="row mb-5">

            <div class="col-sm" style="margin-bottom: 23px;">
                <span class="border border-primary">
                    <img src="{{url_for('static',filename = 'Plant_image/Pomegranate.jpg' )}}" alt="User Image" style="width:500px;height:500px;">


                </span>
            </div>

            <div class="col-sm">

                <div>
                    <h1 style="padding: 15px; background-color: rgb(15, 15, 15); color: white;"
                        class="text-center mb-5 content-h1 rounded">
                        {{pred_output}} </h1>
                </div>
                <div class="details">

					<h4><b> Plant Info: </b> </h4>
                    <h6>
                    Pomegranate, Punica granatum, is a deciduous or evergreen tree or shrub in the family Punicaceae grown for its edible fruits.
                    Pomegranate trees can reach a height of 10 m (33 ft) and can be very long lived, although their economic lifespan is usually between 12 and 15 years
                    Pomegranates grow best in temperate or semi-arid climates with a cool winter and warm summer. They are less hardy than many other deciduous fruit trees but more hardy than citrus.
                    Pomegranates will suffer severe damage when temperatures drop below -10°C (14°F).
                    </h6>
                </div>
            </div>
        </div>


    </div>
</body>

</html>